@-ms-viewport {
  width: device-width;
}

.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

aside {
  display: flex;
  height: 100%;
}

/* navigation */

.navigation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/parcel.jpg);
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.nav__heading,
.navs,
.copyright {
  color: white;
  padding: 1rem;
}

.navs {
  text-decoration: none;
}

.navs:hover {
  background: rgb(214, 149, 27);
  color: #ffff;
}

/* form */

.parcel-orders {
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(7, 172, 150),
    rgb(43, 161, 165)
  );
  padding: 0.5rem;
  font-size: 1.3rem;
  height: 3rem;
  color: white;
  box-shadow: 1px 1px 1px rgb(134, 134, 134);
}

.parcel-orders-containers {
  margin: 0.7rem;
  flex: 1 1 30%;
  background-image: linear-gradient(
    to right bottom,
    rgb(177, 107, 16),
    rgb(187, 106, 13)
  );
  box-shadow: 2px 2px 2px gray;
  padding: 1rem;
  border-radius: 10px;
}

.order__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.parcel__item {
  margin: 1rem;
  flex: 1;
  font-size: 1rem;
  font-weight: 400;
}

.desc_header {
  padding-bottom: 0.4rem;
  font-weight: 700;
  /* background-image: linear-gradient( to right bottom, rgb(7, 172, 150), rgb(43, 161, 165));
-webkit-background-clip: text;
text-transform: uppercase;
color: transparent; */
}

/* Working with buttons */

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  margin-top: 8px;
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.btn:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-blue {
  border: 1px solid greenyellow;
  background-color: green;
  color: #fff;
}

.btn-accept {
  color: green;
}

.btn-reject {
  color: orange;
}

.btn-orange {
  border: 1px solid orangered;
  background-color: orange;
  color: #fff;
  width: 7.8rem;
  text-align: start;
}

.btn-orange-small {
  border: 1px solid orangered;
  background-color: orange;
  color: #fff;
  text-align: start;
}

/* Navigation bar */

header {
  display: flex;
  height: 10vh;
  width: 100% !important;
  border-bottom: 1px solid rgb(43, 161, 165);
  padding-left: 30px;
  justify-content: flex-end;
}

/*  main nav*/

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  padding: 25px 0px;
  margin-right: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
}

.main-nav i {
  color: rgb(43, 161, 165);
  font-size: 15px;
}

i:hover {
  opacity: 1;
  transform: scale(1.5);
}

main {
  width: 100%;
}

.dashboard__content {
  padding: 15px;
}

.accept_order i {
  padding: 8px;
  font-size: 22px;
  margin-left: 1.5rem;
}

footer {
  margin: auto auto 0 auto;
}
