.history__container {
  /* margin: 1rem 0 0 3rem; */
  display: flex;
  flex-direction: column;
}

.order-history {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/parcel.jpg);
  padding: 0.5rem;
  font-size: 1.8rem;
  word-spacing: 5px;
  height: 3rem;
  color: white;
  box-shadow: 1px 1px 1px rgb(134, 134, 134);
}

.rows {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0.8px 0.8px 0.8px 0.8px rgb(158, 158, 158);
  color: black;
}

.history__item {
  /* margin: 1rem; */
  padding: 8px;
  flex: .7;
  font-size: 0.8rem;
  font-weight: 400;
}
