* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

htnl,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    color: white;
}
/* dashboard footer */

.copyright {
    position: relative;
    top: 30%;
    padding: 1rem;
}